
.main-body{
    margin-top: 11vh;
}
@media only screen and (max-width: 820px){
    .main-body{
        margin-top: 25vh;
    }
}
.search-container{
    background-color: rgb(53, 53, 50);
    display: flex;
    justify-content: center;
    padding:2%;
}
.search-box{
    background-color: white;
    width:30%;
}
@media only screen and (max-width: 820px){
    .search-box{
        width:50%;
    }
}
.cards-container{
    justify-content: space-around;
    background-color: rgb(53, 53, 50);
    min-height: 100vh;
}
.cards{
    margin:20px 0;
    display: flex;
    justify-content: center;
    height:400px;
}
.card{
    display: flex;
    flex-direction: column;
    align-content: center;
    width:50%;
    transition: .3s ;
}
.card:hover{
    transform: scale(0.95)
}
.card-img-top{
    width:100%;
    height:200px;
}
.price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.count{
    width:50px;
    height:25px;
}