.App{
  background-color: rgb(53, 53, 50);
  overflow: auto;
  min-height: 100vh;
  background-image: url("https://www.svapinfotech.com/data/media/orginal/food-delivery-2-5459.jpg");
  background-size: cover;
}